<div style="overflow-y: scroll">
  <div class="card" >
    <%= image_tag "nima.jpg", style: "width: 100%;" %>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
    </div>
  </div>
  <div class="card" >
    <%= image_tag "nima.jpg", style: "width: 100%;" %>
    <div class="card-body">
      <p class="card-text">and another make up the bulk of the card's content...</p>
    </div>
  </div>
  
</div>
<i class="fas fa-address-card"></i>